body {
    background-color: #1F2023;
}

#grade {
    display: grid;

    grid-template-areas: 

    "header header header"
    "nav section section"
    "nav section section"
    "nav footer footer";

    grid-template-rows: 100px 650px 75px;
    grid-template-columns: 10% auto 15px;

    height: 100vh;
    margin: 0;
}

.border {
    border: 1px solid black;
}

header {
    grid-area: header;
    background-color: lightcoral;
}

section {
    grid-area: section;
    background-color: orange;
}

nav {
    grid-area: nav;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: lightgreen;
}


